.App {
  text-align: center;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

@media (max-width: 640px) {
  * {
    font-size: 12px;
  }
}

@font-face {
  font-family: "ChosunBg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
